# Virtual environments
env/
venv/
.env/
.venv/

# Python cache
__pycache__/

# PyTest cache
.pytest_cache/

# All SQLite files (journals, dabatase, ...)
db.sqlite3*

# Vim
*.sw[nop]

# Blender
*.blend[0-9]

# obj-conv
work/obj-conv
