@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root {
	/* default colourscheme is light because accessibility */

	--bg-colour: #ffffff;
	--section-colour: #ffffff;
	--gradient: -webkit-linear-gradient(50deg, rgb(126, 119, 255), rgb(255, 34, 137));
	--title-colour: #000000;
	--text-colour: #222;
	--accent-colour: rgb(255, 34, 137);
	--shadow-colour: rgba(0, 0, 0, 0.2);
	--accent-shadow-colour: rgba(183, 0, 255, 0.487);
	--border-radius: 6px;
	--error-colour: #fcc
}

/* TODO media selectors for increased contrast ('prefers-contrast'), reduced motion ('prefers-reduced-motion'), reduced transparency ('prefers-reduced-transparency') */

@media (prefers-color-scheme: light) {
	/* leave it as default */
}

@media (prefers-color-scheme: dark) {
	:root {
		--gradient: -webkit-linear-gradient(50deg, rgb(255, 79, 79), rgb(255, 52, 221));
		--bg-colour: #000000;
		--section-colour: #111;
		--title-colour: #ffffff;
		--text-colour: #dddddd;
		--accent-colour: rgb(255, 52, 221);
		--shadow-colour: transparent;
		--accent-shadow-colour: #ff00cc29;
		--error-colour: #211
	}
}

html, body {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 64px;

	background-color: var(--bg-colour);
	color: var(--text-colour);

	font-size: 22px;
	font-display: optional;
	font-family: "Montserrat", sans-serif;
	/* overflow-y: hidden; */

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	transition: background .2s, color .2s;
}

h1 {
	color: var(--title-colour);
	font-size: 70px;
	margin-block: 0;

	transition: color .2s;
}

h2 {
	color: var(--title-colour);
	font-size: 24px;

	transition: color .2s;
}

a {
	color: var(--accent-colour);
	text-decoration: none;

	transition: color .2s;
}

b {
	background: var(--gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 700;

	transition: background .2s;
}

label {
	font-size: 16px;
}

.card {
	box-shadow: var(--shadow-colour) 0 8px 32px;

	background: var(--section-colour);
	border-radius: 32px;
	margin: 32px;

	max-width: 100vw;

	transition: background .2s, box-shadow .2s;
}

@media only screen and (max-width: 600px) {
	.card {
		box-shadow: none;
		border-radius: 0;
		background: var(--bg-colour);
		margin: 0;
	}
}

section {
	padding: 32px;
	width: 400px;
}

.graph {
	width: 600px;
	height: 480px;
	aspect-ratio: 600/480;
}

.form-divider {
	font-weight: 700;
}

.button {
	background: var(--gradient);
	color: var(--bg-colour);
	box-shadow: none;
	border: none;
	border-radius: 48px;
	padding: 8px 32px;
	margin-top: 32px;
	font-size: 24px;
	font-display: optional;
	font-weight: 700;

	opacity: 100%;
	transition: background .2s, color .2s, opacity .2s, box-shadow .2s, transform .2s;

	float: right;
}

.button:hover {
	box-shadow: var(--accent-shadow-colour) 0 8px 32px;
	transform: translateY(-4px);
}

.button:active {
	transform: none;
	opacity: 50%;
}

.input {
	box-shadow: var(--shadow-colour) 0 8px 32px;

	background: var(--bg-colour);
	color: var(--text-colour);

	border: none;
	border-radius: 16px;

	margin-block: 8px;
	padding: 16px;

	transition: background .2s, color .2s, box-shadow .2s;
}

.input[type="number"] {
	width: 64px;
}

.note {
	color: #9a9a9a;
	font-style: italic;
	font-size: 12px;
}

/* radio buttons */

input[type="radio"] {
	appearance: none;
	margin: 0;

	color: var(--accent-colour);
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid var(--accent-colour);
	border-radius: 50%;

	transform: translateY(0.15em);
	transition: background 120ms ease-in-out;
}

input[type="radio"]:checked {
	background: var(--accent-colour);
}


/* checkbox buttons */

input[type="checkbox"] {
	appearance: none;
	margin: 0;

	color: var(--accent-colour);
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid var(--accent-colour);
	border-radius: 0.3em;

	transform: translateY(0.15em);
	transition: background 120ms ease-in-out;
}

input[type="checkbox"]:checked {
	background: var(--accent-colour);
}

.error {
	background-color: var(--error-colour);
	text-align: center;

	transition: box-shadow .2s, background .2s;
}

/* sliders */

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 0.4em;
	background-image: var(--gradient);
	border-radius: 0.5em;
	outline: none;
	cursor: pointer;

	transition: box-shadow .2s, height .2s;
}

input[type="range"]:active {
	box-shadow: var(--accent-shadow-colour) 0 8px 32px;
	height: 0.7em;
}

/* have to write the same code once for both vendor prefixes because of Google being heinous */
/* also, the em unit seems to be completely broken for borders on Chrome, but honestly just use Firefox */

input[type="range"]::-moz-range-thumb {
	appearance: none;

	width: 1em;
	height: 1em;
	border-radius: 50%;

	border: 0.15em solid var(--accent-colour);
	background: var(--section-colour);

	transition: border .2s, background .2s;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;

	width: 1em;
	height: 1em;
	border-radius: 50%;

	border: 0.15em solid var(--accent-colour);
	background: var(--section-colour);

	transition: border .2s, background .2s;
}

input[type="range"]:hover::-moz-range-thumb {
	border: 0.15em solid var(--section-colour);
	background: var(--accent-colour);
}

input[type="range"]:hover::-webkit-slider-thumb {
	border: 0.15em solid var(--section-colour);
	background: var(--accent-colour);
}

/* hide stuff in form we don't need */

#calving-selector, #moon-selector, #breed-selector, #paturage-selector {
	display: none;
}

#chart1:checked ~ #calving-selector  { display: initial }
#chart2:checked ~ #moon-selector     { display: initial }
#chart3:checked ~ #breed-selector    { display: initial }
#chart4:checked ~ #paturage-selector { display: initial }

#cow-note {
	display: none;
}

#proper_cows:checked ~ #cow-note {
	display: block;
}
