<!DOCTYPE html>

<html lang="fr">
	<head>
		<meta charset = "UTF-8"> <!-- must be in the first 1024 bytes of the document -->
		<meta name = "keywords" content = "stats,vache"></meta>
		<meta name = "description" content = "Les stats sur les vaches"> <!-- can't be longer than 275 characters as per Google's 2017 limit on the SERP -->
		<meta name = "viewport" content = "width=device-width,initial-scale=1">
		<meta name = "robots" content = "index,follow">

		<style>
			{{ static_include("css/style.css") | safe }}
		</style>

		<title>{{ title + " - MOOdle" if title else "MOOdle" }}</title>

		<link rel="icon" type="image/x-icon" href="/favico/favico.png">
		<link rel="icon" type="image/svg+xml" href="/favico/favico.svg">
	</head>

	<body>
		{% block content %}{% endblock %}

		<script>
			const disableNullFields = () => {
				let inputs = document.getElementsByClassName("input")

				for (let input of inputs) {
					if (input.value) {
						continue
					}

					input.setAttribute("disabled", "")
				}
			};
		</script>
	</body>
</html>
